.container {
  display: flex;
  flex-direction: column;
  margin: 10px 0;

  label {
    margin: 0 10px;
    font-weight: 600;
    color: #808080;
  }

  input {
    padding: 15px;
    margin: 10px;
    outline: none;

    &:focus {
      border-color: #3e99fa;
      box-shadow: 0 0 10px #3e99fa;
      border-radius: 3px;
    }
  }

  .errorMsg {
    font-size: 12px;
    color: #ff0000;
    display: none;
    padding: 3px;
    display: none;
    margin: 0 10px;
  }
}
input:invalid[data-focused="true"] {
  border-color: red;
  border-radius: 3px;
  box-shadow: 0 0 10px red;
}

input:invalid[data-focused="true"] ~ span {
  display: block;
}
